DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=alacaja
DATABASE_PASSWORD=change_me
DATABASE_NAME=multitienda_db
DATABASE_APP_NAME=pino-backend
DATABASE_POOL_MAX=20
DATABASE_IDLE_TIMEOUT_MS=30000
DATABASE_CONNECTION_TIMEOUT_MS=2000
DATABASE_STATEMENT_TIMEOUT_MS=0
DATABASE_QUERY_TIMEOUT_MS=0
DATABASE_SLOW_QUERY_THRESHOLD_MS=200

PORT=3035
API_PREFIX=api

JWT_SECRET=change_me
JWT_EXPIRES_IN=12h
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173,http://localhost:9002,https://www.rhclaroni.com
